<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Leon Kim">
    <title>My Overwatch Tracker!</title>

    <!-- AngularJS and my AngularController -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>

    <!-- Font = Raleway -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway">
    <!-- My CSS -->
    <link rel="stylesheet" href="css/myStyleSheet.css">
  </head>

  <body id="page-top" ng-app="OW_Trakcer_App">
    <header class="intro">
      <div class="col-md-8 col-md-offset-2">
        <h1>Overwatch Stat Tracker</h1>
      </div>
    </header>

    <br>

    <div id="main" ng-controller="myController">
      <div class="inputField">
        <label>BattleTag (replace '#' with '-'): </label>
        <input type="text" name="battletag" id="battletag" placeholder="i.e. krusher99-1234">
        <button type="button" id="achivButton" ng-click="setProfile(battletag)">Search</button>
      </div>
      <div style="text-align:center;">
        <p>{{message}}</p>
      </div>
    </div>

    <br>

    <!-- Gets general info about your profile -->
    <div id="main" ng-controller="myController">
      <h2>Profile</h2>
      <div class="containerProfile" ng-if="checkSess() != ''">
        <!--<button type="button" class="displayProfile" ng-click="getProfile()" ng-if="checkSess() != ''">Display Info</button>-->
        <ul class="profileStats" ng-init="getProfile()">
          <p>Player level: {{lvl}}</p>
          <p>Quickplay wins: {{qpwin}}</p>
          <p>Competitive played: {{cpplayed}}</p>
          <p>Competitve wins: {{cpwin}}</p>
          <p>Skill rating: {{sr}}</p>
        </ul>
      </div>
    </div> <!-- End of Profile -->

    <br>

    <!-- Gets stats for individual heroes -->
    <div id="main" ng-controller="myController">
      <h2>Hero stats</h2>
    </div> <!-- End of Hero stats -->

  </body>
</html>
